main {
  display: flex;
  justify-content: center;
  margin: 0 2rem;
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 66rem;
    gap: 7.81rem;
    .main-product-thumbnail {
      border-radius: 15px;
      cursor: pointer;
    }
    .main-product-thumbnail-carousel {
      border-radius: 15px;
      max-width: 550px;
    }
    .thumbnail-div {
      display: flex;
      gap: 2rem;
      margin-top: 2rem;
      justify-content: space-between;

      img {
        border-radius: 15px;
        max-width: 88px;
      }
      .product-thumbnail,
      .carousel-thumbnail {
        transition: 0.3s;
        &:hover {
          opacity: 0.7;
          cursor: pointer;
        }
      }
    }
    .main-section:first-child {
      position: relative;
      .main-symbol {
        position: absolute;
        padding: 1rem;
        background-color: var(--white);
        width: 10.7%;
        max-width: 56px;
        max-height: 56px;
        border-radius: 50%;
        cursor: pointer;
      }
      .mobile-next {
        display: none;
        position: absolute;
        right: 4%;
        top: 50%;
      }
      .mobile-back {
        display: none;
        position: absolute;
        left: 4%;
        top: 50%;
      }
    }
    .main-section:last-child {
      padding-top: 3.88rem;
      .card {
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
      p:nth-of-type(1) {
        font-size: var(--fs-xs);
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: 600;
      }
      p:nth-of-type(2) {
        font-weight: 100;
      }
      h1 {
        font-size: 1.75rem;
        font-size: clamp(1.75rem, 1.15rem + 2.56vw, 2.75rem);
        color: var(--darkBlue);
      }
    }
    .card-price {
      color: var(--darkBlue);
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      align-items: center;
      h2 {
        font-size: var(--fs-l);
      }
      p:first-of-type {
        padding: 0.5rem 1.25rem;
        background-color: var(--darkBlue);
        color: var(--white);
        border-radius: 6px;
      }
      .full-price {
        text-decoration: line-through;
        color: var(--gray-300);
        font-weight: 700;
        width: 100%;
      }
    }
    .card-footer {
      .card-footer-wrapper {
        display: flex;
        gap: 1rem;
        .counter {
          display: flex;
          align-items: center;
          justify-content: space-around;
          gap: 1rem;
          // padding: 1rem;
          background-color: var(--gray-100);
          border-radius: 10px;
          img {
            cursor: pointer;
            padding: 1.38rem;
          }
        }
        .btnCart {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          border-radius: 10px;
          background-color: var(--orange-200);
          color: var(--darkBlue);
          padding: 1rem;
          border: none;
          cursor: pointer;
          flex-grow: 1;
          font-weight: 700;
          transition: 0.3s;
          &:hover {
            background-color: #ffab6a;
          }
          img {
            fill: var(--darkBlue);
            margin-right: 1rem;
          }
        }
      }
    }
    .main-carousel {
      display: none;
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      div {
        position: relative;
        // .carousel-symbol {
        //   position: absolute;
        //   padding: 1rem;
        //   background-color: var(--white);
        //   width: 10.7%;
        //   max-width: 56px;
        //   max-height: 56px;
        //   border-radius: 50%;
        //   cursor: pointer;
        // }
        .back {
          top: 42%;
          left: -5%;
        }
        .next {
          top: 42%;
          right: -5%;
        }
        svg {
          position: absolute;
          top: -10%;
          right: 0;
          background-color: transparent;
          color: var(--white);
          transition: 0.3s;
          cursor: pointer;
          &:hover {
            color: var(--orange-200);
          }
        }
      }
      .main-product-thumbnail {
        max-width: 550px;
        cursor: default;
      }
    }
    .active {
      border: 3px solid var(--orange-200);
      opacity: 0.5;
    }
  }
  .carousel-symbol {
    position: absolute;
    padding: 1rem;
    background-color: var(--white);
    width: 10.7%;
    max-width: 56px;
    max-height: 56px;
    border-radius: 50%;
    cursor: pointer;
  }
}

@media (max-width: 500px) {
  main {
    margin: 0;
    display: flex;
    justify-content: normal;
    .container {
      display: block;
      .main-product-thumbnail {
        border-radius: 0;
        cursor: default;
      }
      .main-section:first-child {
        .mobile-next {
          display: block;
        }
        .mobile-back {
          display: block;
        }
      }
      // .main-carousel {
      //   display: block;
      //   position: relative;
      //   top: auto;
      //   left: auto;
      //   transform: none;
      // }

      .thumbnail-div {
        display: none;
      }
      .main-section:last-child {
        padding: 0;
        .card {
          padding: 0 1.5rem;
          margin: 1.5rem 0;
        }
      }
      .card-footer {
        .card-footer-wrapper {
          flex-direction: column;
        }
      }
    }
    .carousel-symbol {
      padding: 0.8rem;
    }
  }
}

// @media (max-width: 1000px) {
//   main {
//     .container {
//       gap: 3rem;
//     }
//   }
// }
