:root {
  --font-primary: "Inter", sans-serif;
  --fs-body: 16px;
  --fs-xs: 13px;
  --fs-s: 15px;

  --white: hsl(0, 0%, 100%);
  --black: rgba(0, 0, 0, 0.75);
  --darkBlue: hsl(220, 13%, 13%);

  --gray-100: hsl(223, 64%, 98%);
  --gray-200: hsl(220, 14%, 75%);
  --gray-300: hsl(219, 9%, 45%);

  --orange-100: hsl(25, 100%, 94%);
  --orange-200: hsl(26, 100%, 55%);
}
